<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jzhp="http://www.jzhp.top/schema/test"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
                            http://www.jzhp.top/schema/test  http://www.jzhp.top/schema/test.xsd">

    <jzhp:test id="1" name="jzhp" />

    <context:component-scan base-package="top.jzhp.service" />

    <bean id="student" class="top.jzhp.Student">
        <property name="name" value="jjjj"/>
    </bean>

    <context:property-placeholder location="classpath:db.properties"></context:property-placeholder>


    <bean class="top.jzhp.Student"></bean>
</beans>